[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "==3.6.2"
async-timeout = "==3.0.1"
attrs = "==20.1.0"
certifi = "==2020.6.20"
chardet = "==3.0.4"
colorama = "==0.4.3"
contextvars = "==2.4"
vkbottle = "==2.7.8"
idna = "==2.10"
immutables = "==0.14"
multidict = "==4.7.6"
pika = "==1.1.0"
pydantic = "==1.7.3"
python-rucaptcha = "==3.0"
requests = "==2.23.0"
typing-extensions = "==3.7.4.3"
urllib3 = "==1.25.10"
vbml = "==0.5.93"
watchgod = "==0.6"
win32-setctime = "==1.0.1"
yarl = "==1.5.1"
sentry-sdk = "*"

[requires]
python_version = "3.8"
